@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --black: #3b383f;
    --white: #eee;
    --green: #016b39;
    --eerie-black: #071C18ff;
    --slate-gray: #6B8291ff;
    --cadet-gray: #95B1C1ff;
    --columbia-blue: #B5CDDAff;
    --powder-blue: #e3e1d4;
    --dark-green: #012919ff;
    --dark-green-2: #04281Eff;
    --cadet-gray-2: #859EADff;
    --alice-blue: #DEE8EEff;
    --eerie-black-2: #132120ff;
    --shadow: 0 1rem 1rem 0 rgba(0, 0, 0, .2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    transition: .4s all ease;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--white);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--slate-gray);
}

body {
    background: var(--powder-blue);
    overflow-x: hidden;
}

header {
    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: relative;
    z-index: 1;
}

/********** SIDE NAVIGATION **********/
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: var(--black);
    box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, .9);
    opacity: .98;
    overflow-x: hidden;
    padding-top: 60px;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #bdbdbd;
    display: block;
    margin-bottom: 1rem;
}

.side-nav a:hover {
    background: var(--white);
    color: var(--black);
}

.side-nav a span {
    display: none;
}

.side-nav a:hover span {
    display: inline;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 3rem;
    margin-left: 50px;
}

.side-nav .btn-close:hover {
    background: transparent;
    color: var(--white);
}

.side-nav-links {
    margin-top: 6rem;
}

.open-side-menu {
    border: none;
    background: none;
    color: var(--white);
    font-size: 1.7rem;
}

.open-side-menu a {
    color: var(--white);
    padding: 9px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 99px;
    /* clip-path: circle(50% at 50% 50%); */
}

.open-side-menu a:hover {
    background: var(--white);
}

.open-side-menu a:hover {
    color: var(--black);
}

.logo {
    width: 30%;
    margin-left: 1.6rem;
}

.link-item {
    list-style: none;
    display: inline;

}

.link {
    text-decoration: none;
    color: #bbb;
    padding: 1rem;
    border-radius: 99px;
}

.link:hover {
    color: var(--white);
}

.is-active {
    color: var(--white);
}


.cta-btn {
    border: none;
    padding: 12px;
    font-size: 1rem;
    width: 180px;
    cursor: pointer;
    border-radius: 4px;
    background: #d3d3d3;
}

.cta-btn:hover {
    box-shadow: var(--shadow);
    background: var(--white);
}

/********** HERO **********/
.hero {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/images/sports-collage.png"); */

    background: var(--black);
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 546px;
    box-shadow: var(--shadow);
}

.hero-text {
    color: var(--white);
    font-weight: 800;
    max-width: 600px;
    margin: auto;
    margin-left: 6rem;
}

.hero-title {
    text-transform: uppercase;
    font-size: 6rem;
    font-family: 'Archivo Black', sans-serif;
    max-width: 200px;
    line-height: 5rem;
    letter-spacing: 5px;
    text-shadow: 0 3px 3px 0 rgba(0, 0, 0, .9);
    margin-bottom: 1rem;
}

.hero-title span {
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
}

.sub-title {
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Alkatra', cursive;
    letter-spacing: 2.5px;
    text-shadow: 0 3px 3px 0 rgba(0, 0, 0, .9);
}

.sub-title span {
    font-family: 'Alkatra', cursive;
    font-weight: 600;
    font-size: 1.2rem;
}

.hero-img {
    width: 100%;
    clip-path: polygon(32% 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-cta {
    border: none;
    padding: 12px;
    font-size: 1.2rem;
    width: 180px;
    cursor: pointer;
    border-radius: 4px;
    background: var(--white);
    border: 1px solid transparent;
    box-shadow: var(--shadow);
    color: var(--black);
    margin-top: 1rem;
}

.hero-cta:hover {
    background: transparent;
    border: 1px solid var(--white);
    box-shadow: none;
    color: var(--white);
}

.about {
    padding: 3rem;
    background: var(--black);
    color: var(--white);
    margin-top: 1rem;
    box-shadow: var(--shadow);
}

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    max-width: 80%;
    margin: auto;
}

.about-img {
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 12px;
}

.about-content {
    border-left: 1px solid var(--white);
}

.text {
    margin-left: 3rem;
}

.about-title {
    font-size: 4rem;
}

.about-description span {
    font-weight: 600;
    font-size: 1.3rem;
}

.read-more {
    margin-top: 1.5rem;
    padding: 12px;
    width: 210px;
    font-size: 1.2rem;
    color: var(--black);
    border: none;
    border-radius: 4px;
    background: var(--slate-gray);
    cursor: pointer;
}

/* CONTACT SECTION STYLING */

.contact-container {
    max-width: 600px;
    margin: auto;
    margin-top: 1.5rem;
}

.contact-img-container {
    text-align: center;
    padding: 1.5rem;
}

.contact-img {
    width: 40%;
}

.form-container {
    border: 1px solid var(--black);
    border-radius: 6px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.form-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: var(--black);
}

input {
    font-size: 1rem;
    background: var(--black);
    color: var(--powder-blue);
    padding: 12px;
    border: none;
    border-bottom: 1px solid var(--black);
    border-radius: 4px;
    width: 540px;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
}

input:focus {
    outline: none;
}

input:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

textarea {
    font-size: 1rem;
    background: var(--black);
    color: var(--powder-blue);
    padding: 12px;
    border: none;
    border-bottom: 1px solid var(--black);
    border-radius: 4px;
    width: 540px;
    height: 200px;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
}

textarea:focus {
    outline: none;
}

textarea:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.submit-btn {
    padding: 12px;
    width: 540px;
    border: none;
    font-size: 1.3rem;
    border-radius: 4px;
    background: var(--powder-blue);
    border: 2px solid var(--black);
    cursor: pointer;
}

.submit-btn:hover {
    box-shadow: var(--shadow);
    background: var(--black);
    color: var(--powder-blue);
}