@media (max-width: 1260px) {
    nav {
        display: none;
    }

    .logo {
        float: right;
    }

    .cta {
        display: none;
    }
}

@media (min-width: 1260px) {
    .open-side-menu {
        display: none;
    }
}