@media (max-width: 900px) {
    .wrapper {
        display: block;
    }

    .hero-text {
        width: 100%;
        margin: 0;
        padding: 0;
        padding: 3rem;
        text-align: center;
    }

    .hero-title {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .hero-img {
        clip-path: none;
    }

    .about-wrapper {
        display: block;
        margin: auto;
    }

    .about-content {
        border: none;
        text-align: center;
        margin: 1rem;
    }

    .about-title {
        font-size: 4rem;
    }

    .text {
        margin: 0;
    }
}

@media (max-width:1100px) {

    .hero-text {
        text-align: left;
    }

    .hero-title {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .logo {
        width: 40%;
    }
}

@media (max-width: 1260px) {
    nav {
        display: none;
    }

    .logo {
        float: right;
    }

    .cta {
        display: none;
    }
}

@media (min-width: 1260px) {
    .open-side-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .about {
        margin-top: 11rem;
        text-align: center;
    }

    .about-img {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .logo {
        width: 60%;
    }

    .hero-text {
        width: 100%;
        margin: 0;
        padding: 0;
        padding: 3rem;
        text-align: center;
    }

    .hero-title {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .hero-img {
        clip-path: none;
    }

    .about-wrapper {
        display: block;
        margin: auto;
    }

    .about-content {
        border: none;
        text-align: center;
        margin: 0;
    }

    .about-title {
        font-size: 3rem;
        margin: 1rem;
    }

    .about-img {
        width: 100%;
    }

    .text {
        margin: 0;
    }

    .contact-container {
        max-width: 300px;
    }

    input,
    textarea,
    .submit-btn {
        max-width: 240px;
    }
}

@media (max-width: 425px) {
    .about {
        margin-top: 0;
    }
}

@media (max-width: 376px) {
    .about {
        padding: 1rem 0;
        font-size: .8rem;
    }
}